<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR HANDLING</title>
    <style>
        body{
            background-color: black;
        }
        h1{
            color:antiquewhite;
        }
    </style>
</head>
<body style="justify-content: cennter; align-items: center;">
        <h1>PAGE ERROR NOT FOUND!<br>CODE: 404</h1>
</body>
</html>