<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECT 1</title>
    <!-- Link STYLE CSS -->
    <link rel="stylesheet" href="./App.css" type="text/css">
    <link rel="stylesheet" href="./index.css" type="text/css">
    <link rel="stylesheet" href="./event.js" type="text/javascript">
    <!-- <link rel="stylesheet" href="./bootstrap.min.css" type="text/css"> -->
    <!-- TEXT STYLE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
  <header class="header_area"> 
    <nav>
        <!-- logo -->
        <span>
            <a id="test" href=""><img src="#" alt=""
                    style="width:50px; height:50px; padding-top:5px; margin:0 10px;"></a>
            <h1>Sang T. Truong</h1>
        </span>
        <!-- Collect the nav links, forms, and other content for tosggling -->
        <div class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a action="submit" id="link-icon"><i id="#" class="#"
                            style=""></i></a>
                    <!-- <a class="nav-link" href="index.html" >SHOP </a> -->
                    <a id="link-icon" href="#"><i id="#" class="#"
                            style=""></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="">BACK</a>
                <li class="nav-item">
                    <a class="nav-link" href="">HELP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">ABOUT US</a>
                </li>
                <label class="switch">
                    <input id="checkbox" type="checkbox">
                    <span class="slider round"></span>
                </label>
                    <!-- Icon tags are optional -->
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- Body start here  -->
    <div class="container">
        <div class="logo">
            <img src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?w=740&t=st=1695405695~exp=1695406295~hmac=493a9afaee5605f37d99e542cbe462ea367f88d70fdd8fc28b9d2aeca456552b" 
            id="top-img" style="width:20%; height:20%;"></img>
        </div>

        <div class="heading"><h1>CREATE ACCOUNT</h1></div>
        
        <div class="inside">
            <form  id="the-form" action="/register" method="post" class="validate">
                <label for="email" name="email"></label>
                <input type="text" id="userinput" placeholder="Please enter email" 
                   name="email" required/>
                <label for="username" name="username"></label>
                <input type="text" id="userinput" placeholder="Please enter user name" 
                   name="username" required/>
             <!-- END  -->
                <div class="inside">
                        <label for="pass" name="password"></label>
                        <label for="re-pass" name="userpwd"></label>
                        <input name="password" type="password" id="pass" placeholder="New password" style='padding:auto; margin:0;'/>
                        <input name="userpwd" type="password" id="re-pass" placeholder="Confirm password" style='padding:auto; margin:0;'name="pass"/>
                        <button type="submit" class="login"  id="btn" style="margin:10px 0;">SIGN UP</button>
                        <div class="forget-pass">
                            <a href="#">Forgot password?</a>
                            <br>
                            <a href="/login"> Back to Sign In</a>
                        </div>
                </div>
            </form>
        </div>
    </div>


    
<!-- javascript -->
<script>

    // Add or remove the 'dark-theme' class based on the checkbox state
    const checkbox = document.querySelector("#checkbox")
    checkbox.addEventListener('change', () => {
    const isDarkMode = checkbox.checked;
    document.documentElement.classList.toggle("dark-theme", isDarkMode);
    });

    const next_btn = document.querySelector("#valid");
    const sendOTP = document.querySelector("#otp");
   
    //check passworđ before submit!
document.getElementById('the-form').addEventListener('submit', function(event) {
    const password = document.getElementById('pass').value;
    const confirmPassword = document.getElementById('re-pass').value;
    if (password !== confirmPassword){
        event.preventDefault();
    };
});

</script>

</body>
<footer>

</footer>

</html>